<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_read</title>
    <link rel="stylesheet" href="../CSS/admin_read.css">
</head>
<body>
    <nav id="nav1">
		<ul>
			<li><a href="admin.html">회원 정보</a></li>
		</ul>
	</nav>
	<hr>


    <div class="board_wrap">
		<div class="board_title">
			<strong>관리자페이지</strong>
		</div>
		<div class="board_view_wrap">
		<!-- <%
			int b_num = 0;
			
			Board_DAO dao = new Board_DAO();
		
			if(request.getParameter("b_num") != null){
				b_num = Integer.parseInt(request.getParameter("b_num"));
			
			}
			Board_DTO dto = new Board_DAO().getdto(b_num);
			
		%>
		<%
		//int no = Integer.parseInt(request.getParameter("b_no"));
		dao.increase(b_num);
			
			 %> -->
			<!-- <div class="board_view">
				<div class="member_email"><%= dto.getB_title() %></div>
				<div class="info">
					<dl>
						<dt>번호</dt>
						<dd><%= dto.getB_num() %></dd>
					</dl>
					<dl>
						<dt>글쓴이</dt>
						<dd><%= dto.getID() %></dd>
					</dl>
					<dl>
						<dt>작성일</dt>
						<dd><%= dto.getB_date() %></dd>
					</dl>
					<dl>
						<dt>조회수</dt>
						<dd><%= dto.getB_no() %></dd>
					</dl>
				</div>
				<div class="cont">
					<%= dto.getB_content() %>
				</div>
			</div> -->

            <div class="board_view">
                <div class="member_email">회원 아이디 : leeyunjea@naver.com</div>
				<div class="info">
					<dl>
						<dt>회원번호</dt>
						<dd>1</dd>
					</dl>
					<dl>
						<dt>회원 비밀번호</dt>
						<dd>1234</dd>
					</dl>
					<dl>
						<dt>구독 종류</dt>
						<dd>Pro</dd>
					</dl>
					<dl>
						<dt>구독 가격</dt>
						<dd>19,900</dd>
					</dl>
					<dl>
						<dt>구독 가입일</dt>
						<dd>2023-02-28</dd>
					</dl>
					<dl>
						<dt>구독 만료일</dt>
						<dd>2023-04-01</dd>
					</dl>
				</div>
            </div>
        


			<div class="bt_wrap">
				<!-- <a href="Member_board.jsp" class="on">목록</a>  -->
                <a href="admin.html" class="on">목록</a> 
				<!-- <%
					if(user_info.getId().equals(dto.getID())){
				%> -->
				<!-- <a href="board_edit.jsp?b_num=<%= b_num%>">수정</a> -->
                <a href="admin_edit.html">수정</a>
				<!-- <%} %> -->
				<a href="admin.html" id="del">삭제</a>
			</div>
		</div>
	</div>
</body>
</html>