<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/admin.css')}}">
    <title>admin_page</title>
</head>
<body>

	<nav id="nav1">
		<ul>
			<li><a href="admin.html">회원 정보</a></li>
		</ul>
	</nav>
	<hr>


	<!-- <%
	//게시판에 글이 있는지 확인
			Board_DAO dao = new Board_DAO();
			int cnt = dao.getCount();
			System.out.println(cnt);
			
			//한페이지에 보여줄 수 있는 글 개수 설정
			int pageSize = 5;
			//내가 몇페이지에 있는지 확인
			String pageNum = request.getParameter("pageNum");
			//페이지 정보가 없으면 내가 보는 페이지가 1페이지 이다.
			if(pageNum == null){
				pageNum = "1";
			}
			//시작행 번호 계산
			int currentPage = Integer.parseInt(pageNum);
			//가져와야 할 행의 번호
			int startRow = (currentPage-1)*pageSize + 1;
			int getend = cnt - ((currentPage-1)*pageSize);
			//끝행 번호 계산
			int getSize = getend-4;
			int endRow = currentPage*pageSize;
			
			//게시판 총 글의 수 출력
			System.out.println(getend);
			System.out.println(getSize);
			
			ArrayList boardList = null;
			boardList = dao.board_reload(getSize, getend);
			
	%> -->


    <div class="board_wrap">
		<div class="board_title">
			<strong>관리자페이지</strong>
		</div>
		<div class="board_list_wrap">
			<div class="board_list">
				<div class="top">
					<div class="member_num">회원번호</div>
					<div class="member_email">회원이메일</div>
					<div class="member_password">회원비밀번호</div>
					<div class="member_password">구독 종류</div>
					<div class="member_password">구독 가격</div>
					<div class="sub_join">구독 가입일</div>
					<div class="sub_exp">구독 만료일</div>
				</div>
				<div>

					<!-- <%
					
					//Board_DTO dto = new Board_DTO();
					//ArrayList<Board_DTO> list = new ArrayList<>();
					//dao = new Board_DAO();
					
					//list = dao.board_reload(startRow, pageSize);
					//list = dao.board_reload(0);
					

					
					%>

					<%
					for (int i = 0; i < boardList.size(); i++) {
						Board_DTO dto = (Board_DTO)boardList.get(i);
					%> -->
					<!-- <div class="num"><%=dto.getB_num()%></div>
					<div class="title">
						<a href="board_view.jsp?b_num=<%= dto.getB_num() %>&pageNum=<%=pageNum%>"><%=dto.getB_title()%></a>
					</div>
					<div class="writer"><%=dto.getID()%></div>
					<div class="date"><%=dto.getB_date()%></div>
					<div class="count"><%=dto.getB_no()%></div> -->

					<div class="member_num">1</div>
					<div class="member_email">
						<!-- a태그에 crud 가능한 페이지로 이동하면 됨 -->
						<a href="admin_read.html">leeyunjea@naver.com</a>
					</div>
					<div class="member_password">password1234</div>
					<div class = "member_password">Pro</div>
					<div class="member_password">19,900</div>
					<div class="sub_join">2023-02-28</div>
					<div class="sub_exp">2023-04-01</div>

					<!-- <%
					}
					%> -->
				</div>
			</div>
			<div class="board_page">
			<!-- <%
				int pageBlock = 0;
				int startPage = 0;
				int endPage = 0;
				int pageCount = 0;
				if(cnt != 0){
					//페이지 개수처리
					pageCount = cnt/pageSize + (cnt%pageSize == 0? 0:1);
					//화면에 고정해 놓을 페이지 이동버튼 개수
					pageBlock = 4;
					startPage = ((currentPage-1)/pageBlock)*pageBlock + 1;
					endPage = startPage + pageBlock -1;
					if(endPage > pageCount){
						endPage = pageCount;
					}
				}
			%> -->
				<!-- <a class="bt first"><<</a> --> 
				<%
				if(startPage > pageBlock){
				%>
				<a href = "Member_board.jsp?pageNum=<%=startPage-pageBlock%>" class="bt prev"><</a> 
				<%} %>
				<%
				for(int i = startPage; i<=endPage; i++){
				%>
				<%if(i == currentPage){ %>
				<!-- <a href="Member_board.jsp?pageNum=<%=i %>" class="num on"><%=i %></a>  -->
				<a href="Member_board.jsp?pageNum=<%=i %>" class="num on">1</a> 
				<%}else{  %>
					<!-- <a href="Member_board.jsp?pageNum=<%=i %>" id = "other_num"><%=i %></a> -->
					<a href="Member_board.jsp?pageNum=<%=i %>" id = "other_num">2</a>
				<% }%>
				<%} %>
				<%
				if(endPage < pageCount){
				%>
				<a href = "Member_board.jsp?pageNum=<%= startPage+pageBlock%>"class="bt next">></a> 
				<%} %>
				<!-- <a class="bt last">>></a> -->
			</div>
			<div class="bt_wrap">
				<a href="admin_create.html" class="on">회원 생성</a>
				<!-- <a href="#">수정</a> -->
			</div>
		</div>
	</div>
</body>
</html>