<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <title>Home Upload</title>
  </head>
    
  <body>
    <center><h1>HOME</h1></center>
    <hr width="100%" color="black"/>

    <center>
    <form>
    <img src="../static/images/upload.png", width="80" 
        style="margin-left: auto; margin-right: auto; display: block;")/>
    <a href="./upload.html">파일 업로드</a><br><br><br>

    <img src="../static/images/list.png", width="80" 
        style="margin-left: auto; margin-right: auto; display: block;")/>
    <a href="./list">파일 목록</a><br><br><br>
      
    </form>
    </center>
  </body>
</html>


