<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Join.css') }}">
    <title>C:/</title>
</head>
<body>
	<div class="container">
		<div class="content">
			<header>
				<div id="title">
					<h2>회원가입</h2>
				</div>
			</header>
			<form action="join" method="post">
				<section>
					<div class="info" id="info_id">
						<div id="id-input">
							<input name="id" class="box" type="email"
								placeholder="이메일을 입력해주세요." required="required" />
						</div>
					</div>
					<div class="info" id="info_pw">
						<input name="pw" class="box" type="password"
							placeholder="비밀번호를 입력해주세요." required="required" />
					</div>
					<div class="info" id="info_pwRe">
						<input name="pw_c" class="box" type="password"
							placeholder="비밀번호를 재입력해주세요." required="required" />
					</div>
				</section>
				<div id="sec_bot">
					<button id="submit" type="submit">가입하기</button>
					<div class="exist" text-align="right">
						<span>이미 회원이신가요?</span> <a href="login">로그인 하러가기</a>
					</div>
			</form>
		</div>
	</div>
	</div>
</body>
</html>