<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Adalaj - provide the easy responsive free website templates. You can easily customize and make your own website for your startup business.">
<meta name="keywords" content="bootstrap template, Responsive Template, Website Template, free website templates, free website template download ">
<title>C:/</title>
<!-- Bootstrap -->
<link href="{{ url_for('static', filename='CSS/bootstrap.min.css') }}" rel="stylesheet">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
<!-- animsition css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/animsition.min.css') }}">
<!-- Font Awesome CSS -->
<link href="{{ url_for('static', filename='CSS/font-awesome.min.css') }}" rel="stylesheet">
<!-- fontcss -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,100' rel='stylesheet' type='text/css'>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="animsition">
<div class="slider"> <!-- slider -->
  <div class="navigation-transparent navbar-fixed-top"><!-- navigation-transparent -->
    <div class="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-3" ><a class="navbar-brand"  href="main">C:/</a></div>
          <div class="col-md-9">
            <div id="navigation" >
              <ul>
                <li class="active"><a href="price" title="Home" class="animsition-link">price</a></li>
                <li><a href="drive" title="Image Alignment" class="animsition-link">Drive</a></li>
            
                {% if not session["user_info"] %}
                <li><a href = "#" title="Style guide"  class="btn-open-popup">Login/Join</a></li>
                {% else %}
                <li><a href = "main" title="Style guide"  >Logout</a></li>
                <li><a href = "mypage" title="Style guide" >My page</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.navigation -->
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="hero-caption"><!-- hero caption -->
          <h1 class="hero-title">FILE 분류기</h1>
          <p>단 몇번의 클릭만으로 파일을 분류할 수 있습니다</p>
         <label for="file">
          <div class="btn btn-default">Add File</div> 
          </label>
          <input type="file" name = "file" id="file"  />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.slider -->
<div class="section-space80"><!-- section space80 -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title mb80 text-center"><!-- section-title -->
          <h1>C:/ 사용설명 가이드</h1>
          <p>정돈되지 못한 파일들의 분류를 자동으로 제공합니다</p>
        </div>
        <!-- /.section-title --> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="feature mb30"><!-- feature -->
        <div class="feature-icon mb20"><i class="fa fa-lightbulb-o"></i></div>
          <h3>파일 업로드</h3>
          <p>파일 및 폴더를 컴퓨터에서 사이트에 파일을 추가하면 자동으로 업로드됩니다.</p>
        </div>
        <!-- /.feature --> 
      </div>
      <div class="col-md-3">
        <div class="feature mb30"><!-- feature -->
        <div class="feature-icon mb20"><i class="fa fa-gear "></i></div>
          <h3>기준파일 선택</h3>
          <p>업로드 시킨 파일 중 파일분류의 기준이 되는 하나의 파일을 선택합니다.</p>
        </div>
        <!-- /.feature --> 
      </div>
      <div class="col-md-3">
        <div class=" feature mb30"><!-- feature -->
        <div class="feature-icon mb20"><i class="fa fa-thumbs-up"></i></div>
          <h3>파일정리</h3>
          <p>이전 단계에서 선택된 기준파일을 중심으로 파일의 분류가 진행됩니다.</p>
        </div>
        <!-- /.feature --> 
      </div>
      <div class="col-md-3">
        <div class="feature"><!-- feature -->
        <div class="feature-icon mb20"><i class="fa fa-paper-plane-o"></i></div>
          <h3>저장하기</h3>
          <p>분류가 완료된 파일 및 폴더는 My Drive에 저장하거나 압축파일로 다운로드 받을 수 있습니다.</p>
        </div>
        <!-- /.feature --> 
      </div>
    </div>
  </div>
</div>

<!-- /.section-space80 -->
<div class="section-space80"><!-- section-space80 -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title mb60 text-center"><!-- section title -->
          <h1>구독서비스 가이드</h1>
          <p>구독 서비스 가입으로 효율성을 더 높여보세요</p>
        </div>
        <!-- /.section title --> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail-block mb30"><!-- thumbnail block -->
          <div class="thumbnail-img"><a href="price"><img src="{{ url_for('static', filename='images/baisic.jpg') }}" class="img-responsive2" alt=""></a></div>
          <div class="thumbnail-content pinside30 outline">
            <h3><a href="price" class="heading-title">Basic</a></h3>
            <p>기본으로 제공</p>
          
          </div>
        </div>
        <!-- /.thumbnail block --> 
      </div>
      <div class="col-md-4">
        <div class="thumbnail-block mb30"><!-- thumbnail block -->
          <div class="thumbnail-img"><a href="price"><img src="{{ url_for('static', filename='images/pro.jpg') }}" class="img-responsive2" alt=""></a></div>
          <div class="thumbnail-content pinside30 outline">
            <h3><a href="price" class="heading-title">Pro</a></h3>
            <p>월 19900원</p>
          </div>
        </div>
        <!-- /.thumbnail block --> 
      </div>
      <div class="col-md-4">
        <div class="thumbnail-block mb30"><!-- thumbnail block -->
          <div class="thumbnail-img"><a href="price"><img src="{{ url_for('static', filename='images/custom.jpg') }}" class="img-responsive2" alt=""></a></div>
          <div class="thumbnail-content pinside30 outline">
            <h3><a href="price" class="heading-title">Custom</a></h3>
            <p>기업에 문의 하세요</p>
          </div>
        </div>
        <!-- /.thumbnail block --> 
      </div>
    </div>
  </div>
</div>
<!-- /.section-space80 -->
<div class="footer section-space60"> 
  <!-- footer -->
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-widget mb30"><!-- footer-widget -->
          <h3 class="footer-title">C:/</h3>
          <p>Welcome C:/</p>
        </div>
        <!-- /.footer-widget --> 
      </div>
      <div class="col-md-3">
        <div class="footer-widget mb30"><!-- footer-widget -->
          <h3 class="footer-title">C:/ Info</h3>
          <address>
          광주광역시 남구 송암로 <br>
          CGI센터
          </address>
          <div class="footer-email">smhrd@shmrd.com</div>
        </div>
        <!-- /.footer-widget --> 
      </div>
      <div class="col-md-3">
        <div class="footer-widget mb30"><!-- footer-widget -->
          <h3 class="footer-title">Useful Links</h3>
          <ul class="listnone no-padding">
            <li><a href="main" class="footer-link">MAIN</a></li>
            <li><a href="drive" class="footer-link">DRIVE</a></li>
            <li><a href="price" class="footer-link">PRICE</a></li>
          
          </ul>
        </div>
        <!-- /.footer-widget --> 
      </div>
      <div class="col-md-3">
        <div class="footer-widget mb30"> 
          <!-- footer-widget -->
          <h3 class="footer-title">AD</h3>
          <ul class="listnone no-padding">
            <li><a href="#" class="footer-link">광고문의</a></li>
           
          </ul>
        </div>
        <!-- /.footer-widget --> 
      </div>
    </div>
  </div>
</div>

<div class="modal">
  <div class="modalcontainer">
    <div class="content">
      <header class="modalheader">
        <div id="title">
          <h2>로그인</h2>
        </div>
      </header>
      <form action="login" method="post">
        <section class="modalsection">
          <div class="info" id="info__id">
            <div id="id-input">
              <input name="id" class="box" type="text"
                placeholder="아이디를 입력해주세요." required="required" />
            </div>
          </div>
          <div class="info" id="info__pw">
            <input name="pw" class="box" type="password"
              placeholder="비밀번호를 입력해주세요." required="required" />
          </div>
        </section>
        <div id="sec_bot">
          <button class="loginbutton" id="submit">로그인</button>
          <div class="exist" text-align="right">
            <span>아이디가 없으신가요?</span> <a href="join">회원가입 하러가기</a>
          </div>
      </form>
    </div>
  </div>
  </div>

</div>

<!-- /.tiny-footer --> 
<!-- back to top icon --> 
<a href="#0" class="cd-top" title="Go to top">Top</a> 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='js/navigation.js') }}"></script> 

<!-- animsition --> 
<script type="text/javascript" src="{{ url_for('static', filename='js/animsition.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='js/animsition-script.js') }}"></script> 
<!-- Sticky header --> 
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='js/sticky-header.js') }}"></script> 
<!-- Back to top script --> 
<script src="{{ url_for('static', filename='js/back-to-top.js') }}" type="text/javascript"></script>
<script>

const modal = document.querySelector('.modal');
 const btnOpenPopup = document.querySelector('.btn-open-popup');

   btnOpenPopup.addEventListener('click', () => {
   modal.style.display = 'block';} );


   modal.addEventListener("click", e => {
    const evTarget = e.target
    if(evTarget.classList.contains("modal")) {
        modal.style.display = "none"
    }
})


window.addEventListener("keyup", e => {
    if(modal.style.display === "block" && e.key === "Escape") {
        modal.style.display = "none"
    }
})
 
</script>
</body>
</html>

