<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
    <title>C:/</title>
</head>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Modal</title>
  </head>
  <body>
    <div class="modal">
      <div class="container">
        <div class="content">
          <header class="modalheader">
            <div id="title">
              <h2>Custom 문의사항</h2>
            </div>
          </header>
          <form action="Login_Service" method="post">
            <section class="modalsection">
              <div class="info" id="info__id">
                <div id="id-input" class="box" style="font-size: 22px;">
                사용자 아이디 입력받기
                </div>
              </div>
              <div class="info" id="info__pw" >
                <textarea  style="height: 250px; font-size: 15px; " name="enquiry" class="box" type="text" id = "re"
                  placeholder="문의사항을 입력해주세요" required="required"></textarea>
              </div>
            </section>
            <div id="sec_bot">
              <button class="loginbutton" id="submit">문의하기</button>
             
          </form>
        </div>
      </div>
      </div>



    </div>
 
 
  </body>
</html>